*,*::before,::after{
    box-sizing: border-box;
}

body{
    margin:0;
    background: linear-gradient(to right, rgb(0, 132, 255),rgb(2, 138, 48));
}

.calculator-grid > button{
    cursor: pointer;
    /* margin-top: 2rem; */
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(240, 248, 255, 0.726);

}
.calculator-grid > button:hover,
.calculator-grid > button:focus{
    background-color: rgba(255, 255, 255, 0.856);
}

.calculator-grid {
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    grid-template-columns: repeat(4,6rem);
    grid-template-rows: minmax(7rem,auto)repeat(5,6rem);
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, 0.753);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    color: rgba(240, 248, 255, 0.616);
    font-size: 1.5rem;
}

.output .current-operand{
    color: aliceblue;
    font-size: 2.5rem;
}